<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LED Strip Configurator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="./WEB-INF/lib/tinycolor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="./styles.css">
    <script src="./controller.js"></script>
</head>

<body ng-app="lightApp">
    <div class="container-fluid" ng-controller="busController">

        <div class="jumbotron">
            <h1 class="display-4">Welcome to the LED Strip configurator!</h1>
            <p class="lead">Here, you can configure your LED strips.</p>
            <hr class="my-4">
            <p><a href="https://github.com/jenderle/LightStripSite">Github</a></p>
        </div>


        <div class="gridContainer">
            <div class="gridForm">
                <form> <!-- TODO: Add Bootstrap validation styling for input items -->
                    <h3>Add an animation item:</h3>
                    <div class="form-group">
                        <label for="color">Color: </label>
                        <input class="form-control" id="color" type="text" name="color" value="#000000" ng-model="ngColor">
                    </div>

                    <div class="form-group">
                        <label for="displayTime">Display Time (ms): </label>
                        <input class="form-control" id="displayTime" type="number" name="displayTime" value="0" ng-model="ngDisplayTime">
                    </div>

                    <div class="form-group">
                        <label for="transitionTime">Transition Time (ms): </label>
                        <input class="form-control" id="transitionTime" type="number" name="transitionTime" value="0" ng-model="ngTransitionTime">
                    </div>

                    <div class="form-group">
                        <label>Transition type:</label>

                        <div class="radio">
                            <label for="transitionType1">
                                <input type="radio" id="transitionType1" name="transitionType" value="type1" ng-model="ngTransitionType" checked>
                                Type 1
                            </label>
                        </div>

                        <div class="radio">
                            <label for="transitionType2">
                                <input type="radio" id="transitionType2" name="transitionType" value="type2" ng-model="ngTransitionType">
                                Type 2
                            </label>
                        </div>

                        <div class="radio">
                            
                            <label for="transitionType3">
                                <input type="radio" id="transitionType3" name="transitionType" value="type3" ng-model="ngTransitionType">
                                Type 3
                            </label>
                        </div>
                    </div>

                    <input class="btn btn-primary" type="button" value="Add Item" id="addButton" ng-click="addItem()">
                </form>
            </div>
        
            <div class="gridResults">

                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

                <h3>Currently scheduled animation items:</h3>

                <div>
                    <table class="table table-striped" id="animationTable">
                        <thead><tr><th>Color</th><th>Display Time (ms)</th><th>Transition Time (ms)</th><th>Transition Type</th></tr></thead><tbody>
                        <tr ng-repeat='item in ngItems track by $index'>
                            <td>{{item.color}}</td>
                            <td>{{item.displayTime}}</td>
                            <td>{{item.transitionTime}}</td>
                            <td>{{item.transitionType}}</td>
                        </tr></tbody>
                    </table>
                </div>

                <div>
                    <label for="sendButton">Send Items to LED Strip</label>
                    <br>
                    <input class="btn btn-primary" type="button" value="Send Items" id="sendButton" name="sendButton" ng-click="sendItems()">
                </div>

                <br>

            </div>

        </div>

    </div> <!-- end container-fluid -->
</body>

</html>
