/* Needed to make AngularJS work with UI-Bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* CSS Grid for mobile responsiveness */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.gridForm {
    grid-column: 1/4;
}

.gridResults {
    grid-column: 7/-1;
}

@media screen and (max-width: 720px) {
    .gridForm {
        grid-column: span 12;
    }
    
    .gridResults {
        grid-column: span 12;
    }
}

/* Add a gap at top of page */
body {
    margin-top: 15px;
}

/* TODO: add padding inside of input table */
